In [74]:
pip install gitpython

Requirement already satisfied: gitpython in c:\users\sumathi\appdata\local\programs\python\python313\lib\site-packages (3.1.46)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\sumathi\appdata\local\programs\python\python313\lib\site-packages (from gitpython) (4.0.12)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\sumathi\appdata\local\programs\python\python313\lib\site-packages (from gitdb<5,>=4.0.1->gitpython) (5.0.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [75]:
import git
import os

# Updated to use C: drive which is safe and available
repo_url = "https://github.com/PhonePe/pulse.git"
destination_path = "C:/Users/Sumathi/Documents/PhonePe_Pulse_Data"

# Create the folder automatically on your C: drive
if not os.path.exists(destination_path):
    os.makedirs(destination_path)
    print(f"Created folder at {destination_path}")

# Now try to clone
try:
    if len(os.listdir(destination_path)) == 0:
        print("Starting clone... please wait.")
        git.Repo.clone_from(repo_url, destination_path)
        print("Repository cloned successfully!")
    else:
        print("Folder is not empty. Data might already be there.")
except Exception as e:
    print(f"An error occurred: {e}")

Folder is not empty. Data might already be there.

In [76]:
import os
print("My current location is:", os.getcwd())
print("Does the folder exist?", os.path.exists("C:/Users/Sumathi/Documents/PhonePe_Pulse_Data"))

My current location is: c:\Users\Sumathi\pulse
Does the folder exist? True

In [77]:
import os
import json
import pandas as pd
path=r"C:\Users\Sumathi\pulse\data\aggregated\transaction\country\india\state"
Agg_state_list=os.listdir(path)
Agg_state_list

['andaman-&-nicobar-islands',
 'andhra-pradesh',
 'arunachal-pradesh',
 'assam',
 'bihar',
 'chandigarh',
 'chhattisgarh',
 'dadra-&-nagar-haveli-&-daman-&-diu',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal-pradesh',
 'jammu-&-kashmir',
 'jharkhand',
 'karnataka',
 'kerala',
 'ladakh',
 'lakshadweep',
 'madhya-pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'odisha',
 'puducherry',
 'punjab',
 'rajasthan',
 'sikkim',
 'tamil-nadu',
 'telangana',
 'tripura',
 'uttar-pradesh',
 'uttarakhand',
 'west-bengal']

In [78]:
#Aggregated Transaction:

#Empty dictionary for collecting data
storage_data={'State':[], 'Year':[], 'Quarter':[], 'Transaction_type':[], 'Transaction_count':[], 'Transaction_amount':[] }
path=r"C:\Users\Sumathi\pulse\data\aggregated\transaction\country\india\state"
Agg_state_list=os.listdir(path)
Agg_state_list

for i in Agg_state_list:
    p_i=os.path.join(path,i)    
    Agg_yr=os.listdir(p_i)

    for j in Agg_yr:
        p_j=os.path.join(p_i,j)
        Agg_yr_list=os.listdir(p_j)

        for k in Agg_yr_list:
            p_k=os.path.join(p_j,k)
            with open(p_k,'r') as Data:
                D=json.load(Data)
                
               

            for z in D['data']['transactionData']:# z takes one transaction type 
                Name=z['name']
                count=z['paymentInstruments'][0]['count']
                amount=z['paymentInstruments'][0]['amount']
                
                storage_data['Transaction_type'].append(Name) 
                storage_data['Transaction_count'].append(count) 
                storage_data['Transaction_amount'].append(amount) 
                storage_data['State'].append(i) 
                storage_data['Year'].append(j)  
                storage_data['Quarter'].append(int(k.strip('.json')))   

Agg_Trans=pd.DataFrame(storage_data)

In [79]:
print(Agg_Trans.shape)

(5034, 6)

In [80]:
#Aggregated insurance 

# empty Dictionary for Insurance:
insurance_data = {'State': [], 'Year': [], 'Quarter': [], 'Transaction_Type': [], 'Transaction_Count': [], 'Transaction_Amount': []}

path_ins = r"C:\Users\Sumathi\pulse\data\aggregated\insurance\country\india\state"
Agg_state_list_isurance = os.listdir(path_ins)

for i in Agg_state_list_isurance:
    p_i = os.path.join(path_ins, i)
    Agg_year_isurance = os.listdir(p_i)

    for j in Agg_year_isurance:
        p_j = os.path.join(p_i, j)
        Agg_year_isurance_list = os.listdir(p_j)

        for k in Agg_year_isurance_list:
            p_k = os.path.join(p_j, k)
            with open(p_k, 'r') as Data:
                D = json.load(Data)
            
            try:
                # Correct: use transactionData instead of insuranceData
                if D['data'] and 'transactionData' in D['data']:
                    for z in D['data']['transactionData']:
                            name= z['name'] 
                            count=z['paymentInstruments'][0]['count']
                            amount=z['paymentInstruments'][0]['amount']
                            insurance_data['Transaction_Type'].append(name)
                            insurance_data['Transaction_Count'].append(count)
                            insurance_data['Transaction_Amount'].append(amount)
                            insurance_data['State'].append(i)
                            insurance_data['Year'].append(j)
                            insurance_data['Quarter'].append(int(k.strip('.json')))
            
            except (KeyError, TypeError):
                # skip missing or null data
                continue
        
Agg_Ins = pd.DataFrame(insurance_data)

In [81]:
print(Agg_Ins.shape)

(682, 6)

In [82]:
#Aggregated User:
#empty Dictionary for User:
user_data = {'State': [], 'Year': [], 'Quarter': [], 'Brand': [], 'User_Count': [], 'Percentage': [] ,'Registered_Users': [],
    'App_Opens': []}

path_user =  r"C:\Users\Sumathi\pulse\data\aggregated\user\country\india\state"
Agg_state_user_list=os.listdir(path_user)
Agg_state_user_list

for i in Agg_state_user_list:
    p_i = os.path.join(path_user, i)
    Agg_year_user=os.listdir(p_i)

    for j in Agg_year_user:
        p_j = os.path.join(p_i, j)
        Agg_year_user_list=os.listdir(p_j)

        for k in Agg_year_user_list:
            p_k = os.path.join(p_j, k)
            with open(p_k, 'r') as Data:
                D = json.load(Data)

           
            try:
                if D['data']['usersByDevice'] is not None:
                    for z in D['data']['usersByDevice']:
                        brand = z['brand']
                        count = z['count']
                        percentage = z['percentage']
                        
                        reg_users = D['data']['aggregated']['registeredUsers']
                        app_opens = D['data']['aggregated']['appOpens']

                        user_data['Brand'].append(z['brand'])
                        user_data['User_Count'].append(z['count'])
                        user_data['Percentage'].append(z['percentage'])
                        user_data['Registered_Users'].append(reg_users)
                        user_data['App_Opens'].append(app_opens)
                        user_data['State'].append(i)
                        user_data['Year'].append(j)
                        user_data['Quarter'].append(int(k.strip('.json')))
            except(KeyError,TypeError):
                continue

Agg_User = pd.DataFrame(user_data)

In [83]:
print(Agg_User.shape)

(6732, 8)

In [84]:
#Map Transaction :
map_trans_data = {'State': [], 'Year': [], 'Quarter': [], 'District': [], 'Count': [], 'Amount': []}

path_map_trans = r"C:\Users\Sumathi\pulse\data\map\transaction\hover\country\india\state"
map_state_list = os.listdir(path_map_trans)

for state in map_state_list:
    p_i = os.path.join(path_map_trans, state)
    years = os.listdir(p_i)
    
    for j in years:
        p_j = os.path.join(p_i, j)
        quarters = os.listdir(p_j)
        
        for k in quarters:
            p_k = os.path.join(p_j, k)
            with open(p_k, 'r') as f:
                D = json.load(f)
            
        try:
            if D['data']['hoverDataList'] is not None: 
             for district in D['data']['hoverDataList']:
                
                district_name = district['name']
                count = district['metric'][0]['count']
                amount = district['metric'][0]['amount']
                
                map_trans_data['State'].append(i)
                map_trans_data['Year'].append(j)
                map_trans_data['Quarter'].append(int(k.strip('.json')))
                map_trans_data['District'].append(district_name)
                map_trans_data['Count'].append(count)
                map_trans_data['Amount'].append(amount)
        except (KeyError, TypeError, IndexError):
          continue  
Map_Trans= pd.DataFrame(map_trans_data)

In [85]:
#map insurance :
map_ins_data = {'State': [], 'Year': [], 'Quarter': [], 'District': [], 'Insurance_Count': [], 'Insurance_Amount': []}

path_map_ins = r"C:\Users\Sumathi\pulse\data\map\insurance\hover\country\india\state"
map_ins_states = os.listdir(path_map_ins)

for i in map_ins_states:
    p_i = os.path.join(path_map_ins, i)
    year_ins=os.listdir(p_i)

    for j in  year_ins:
        p_j = os.path.join(p_i, j)
        quarter_ins=os.listdir(p_j)
        
        for k in quarter_ins:
            p_k = os.path.join(p_j, k)
            
            with open(p_k, 'r') as Data:
                D = json.load(Data)
            try:
                if D['data']['hoverDataList'] is not None:
                  for z in D['data']['hoverDataList']:
                                     
                    dist_name = z['name']
                    count = z['metric'][0]['count'] 
                    amount = z['metric'][0]['amount']
                   
                    map_ins_data['State'].append(i)
                    map_ins_data['Year'].append(j)
                    map_ins_data['Quarter'].append(int(k.strip('.json')))
                    map_ins_data['District'].append(dist_name)
                    map_ins_data['Insurance_Count'].append(count)
                    map_ins_data['Insurance_Amount'].append(amount)
                    
            except (KeyError, TypeError, IndexError):
                continue

Map_Ins = pd.DataFrame(map_ins_data)

In [86]:
map_user_data = {'State': [], 'Year': [], 'Quarter': [], 
    'District': [], 'Registered_Users': [], 'App_Opens': []}

# 2. Define your base path
path_map_user = r"C:\Users\Sumathi\pulse\data\map\user\hover\country\india\state"
map_user_states = os.listdir(path_map_user)

# 3. Iterative loops (States -> Years -> Quarters)
for i in map_user_states:
    p_i = os.path.join(path_map_user, i)
    year_map_user=os.listdir(p_i)

    for j in year_map_user:
        p_j = os.path.join(p_i, j)
        quarter_map_user=os.listdir(p_j)

        for k in quarter_map_user:
            p_k = os.path.join(p_j, k)
            
            with open(p_k, 'r') as Data:
                D = json.load(Data)
            
            # 4. Map User uses 'hoverData' (Dictionary format)
            if D['data']['hoverData'] is not None:
                try:
                    # We use .items() because District names are keys in this JSON
                    for district_name, values in D['data']['hoverData'].items():
                        
                        # Extracting specific user metrics
                        reg_users = values['registeredUsers']
                        app_opens = values['appOpens']
                        
                        map_user_data['State'].append(i)
                        map_user_data['Year'].append(j)
                        map_user_data['Quarter'].append(int(k.strip('.json')))
                        map_user_data['District'].append(district_name)
                        map_user_data['Registered_Users'].append(reg_users)
                        map_user_data['App_Opens'].append(app_opens)
                
                except (KeyError, TypeError):
                    continue

# 6. Create the final DataFrame
Map_User = pd.DataFrame(map_user_data)

In [87]:
#Top insurance:
path_top_ins = "C:/Users/Sumathi/pulse/data/top/insurance/country/india/state/"
top_ins_states = os.listdir(path_top_ins)

# Storage dictionaries
storage_top_ins_dist = {'State': [], 'Year': [], 'Quarter': [], 'District_Name': [], 'Count': [], 'Amount': []}
storage_top_ins_pin = {'State': [], 'Year': [], 'Quarter': [], 'Pincode': [], 'Count': [], 'Amount': []}

for i in top_ins_states:
    p_i = os.path.join(path_top_ins, i)    
    Top_ins_yr = os.listdir(p_i)
    
    for j in Top_ins_yr:
        p_j = os.path.join(p_i, j)
        Top_ins_yr_list = os.listdir(p_j)
        
        for k in Top_ins_yr_list:
            p_k = os.path.join(p_j, k)
            
            try:
                with open(p_k, 'r') as Data:
                    D = json.load(Data)

                # --- 1. EXTRACT DISTRICTS ---
                for z in D['data']['districts']:
                    # Temporary variable assignment
                    name = z['entityName']
                    count = z['metric']['count']
                    amount = z['metric']['amount']
                   
                    storage_top_ins_dist['District_Name'].append(name)
                    storage_top_ins_dist['Count'].append(count)
                    storage_top_ins_dist['Amount'].append(amount)
                    storage_top_ins_dist['State'].append(i)
                    storage_top_ins_dist['Year'].append(j)
                    storage_top_ins_dist['Quarter'].append(int(k.strip('.json')))
                    

                # --- 2. EXTRACT PINCODES ---
                for z in D['data']['pincodes']:
                    # Temporary variable assignment
                    pincode = z['entityName']
                    count = z['metric']['count']
                    amount = z['metric']['amount']
                    
                    storage_top_ins_pin['State'].append(i)
                    storage_top_ins_pin['Year'].append(j)
                    storage_top_ins_pin['Quarter'].append(int(k.strip('.json')))
                    storage_top_ins_pin['Pincode'].append(pincode)
                    storage_top_ins_pin['Count'].append(count)
                    storage_top_ins_pin['Amount'].append(amount)

            except Exception as e:
                print(f"Error processing file {p_k}: {e}")
                continue

# Convert to DataFrames
Top_Ins_Dist = pd.DataFrame(storage_top_ins_dist)
Top_Ins_Pin = pd.DataFrame(storage_top_ins_pin)

In [88]:
# Path for Top Transaction
path_top_trans = "C:/Users/Sumathi/pulse/data/top/transaction/country/india/state/"
top_trans_states = os.listdir(path_top_trans)

# Dictionaries for Districts and Pincodes
storage_top_trans_dist = {'State': [], 'Year': [], 'Quarter': [], 'District_Name': [], 'Count': [], 'Amount': []}
storage_top_trans_pin = {'State': [], 'Year': [], 'Quarter': [], 'Pincode': [], 'Count': [], 'Amount': []}

for i in top_trans_states:
    p_i = os.path.join(path_top_trans, i)
    Agg_trans_yr = os.listdir(p_i)
    
    for j in Agg_trans_yr:
        p_j = os.path.join(p_i, j)
        Agg_trans_yr_list = os.listdir(p_j)
        
        for k in Agg_trans_yr_list:
            p_k = os.path.join(p_j, k)
            
            try:
                with open(p_k, 'r') as Data:
                    D = json.load(Data)

                # --- 1. DISTRICTS ---
                for z in D['data']['districts']:
                    name = z['entityName']
                    count = z['metric']['count']
                    amount = z['metric']['amount']
                    
                    storage_top_trans_dist['District_Name'].append(name)
                    storage_top_trans_dist['Count'].append(count)
                    storage_top_trans_dist['Amount'].append(amount)
                    storage_top_trans_dist['State'].append(i)
                    storage_top_trans_dist['Year'].append(j)
                    storage_top_trans_dist['Quarter'].append(int(k.strip('.json')))
                    
                # --- 2. PINCODES ---
                for z in D['data']['pincodes']:
                    pincode = z['entityName']
                    count = z['metric']['count']
                    amount = z['metric']['amount']
                    
                    storage_top_trans_pin['Pincode'].append(pincode)
                    storage_top_trans_pin['Count'].append(count)
                    storage_top_trans_pin['Amount'].append(amount)
                    storage_top_trans_pin['State'].append(i)
                    storage_top_trans_pin['Year'].append(j)
                    storage_top_trans_pin['Quarter'].append(int(k.strip('.json')))
                    

            except Exception as e:
                print(f"Error processing file {p_k}: {e}")
                continue
                

# Convert to DataFrames
Top_Trans_Dist = pd.DataFrame(storage_top_trans_dist)
Top_Trans_Pin = pd.DataFrame(storage_top_trans_pin)

In [89]:
import json

# Pick any one file path that you know exists
test_path = "C:/Users/Sumathi/pulse/data/top/user/country/india/state/andaman-&-nicobar-islands/2018/1.json"

with open(test_path, 'r') as f:
    data = json.load(f)

# Use indent=4 to make it readable
print(json.dumps(data, indent=4))

{
    "success": true,
    "code": "SUCCESS",
    "data": {
        "states": null,
        "districts": [
            {
                "name": "south andaman",
                "registeredUsers": 5846
            },
            {
                "name": "north and middle andaman",
                "registeredUsers": 632
            },
            {
                "name": "nicobars",
                "registeredUsers": 262
            }
        ],
        "pincodes": [
            {
                "name": "744103",
                "registeredUsers": 1608
            },
            {
                "name": "744101",
                "registeredUsers": 1108
            },
            {
                "name": "744105",
                "registeredUsers": 1075
            },
            {
                "name": "744102",
                "registeredUsers": 1006
            },
            {
                "name": "744104",
                "registeredUsers": 272
            },
            {
                "name": "744202",
                "registeredUsers": 237
            },
            {
                "name": "744112",
                "registeredUsers": 215
            },
            {
                "name": "744301",
                "registeredUsers": 207
            },
            {
                "name": "744107",
                "registeredUsers": 196
            },
            {
                "name": "744211",
                "registeredUsers": 156
            }
        ]
    },
    "responseTimestamp": 1630501494546
}

In [90]:
#path setup for top User:
path_top_user=r"C:\Users\Sumathi\pulse\data\top\user\country\india\state"
top_user_states=os.listdir(path_top_user)

#seperate empty dictionary for district and Pincode
Storage_top_user_dist={'State':[],'Year':[],'Quarter':[], 'District_name':[],'Registered_User':[] }
Storage_top_user_pincode={'State':[],'Year':[],'Quarter':[], 'Pincode':[],'Registered_User':[] }

for i in top_user_states:
    p_i=os.path.join(path_top_user,i)
    Top_user_year=os.listdir(p_i)

    for j in Top_user_year:
        p_j=os.path.join(p_i,j)
        Top_user_year_list=os.listdir(p_j)

        for k in  Top_user_year_list:
            p_k=os.path.join(p_j,k)
            
            try:
                with open(p_k,'r') as Data:
                    D=json.load(Data)

#for Top districts:
                for z in D['data']['districts']:
                    name=z['name']
                    reg_users_d=z['registeredUsers'] 

                    Storage_top_user_dist['State'].append(i)
                    Storage_top_user_dist['Year'].append(j)
                    Storage_top_user_dist['Quarter'].append(int(k.strip('.json')))
                    Storage_top_user_dist['District_name'].append(name)
                    Storage_top_user_dist['Registered_User'].append(reg_users_d)

#Top pincodes:
                for z in D['data']['pincodes']:
                    name=z['name']
                    reg_users=z['registeredUsers']

                    Storage_top_user_pincode['State'].append(i)
                    Storage_top_user_pincode['Year'].append(j)
                    Storage_top_user_pincode['Quarter'].append(int(k.strip('.json')))
                    Storage_top_user_pincode['Pincode'].append(name)
                    Storage_top_user_pincode['Registered_User'].append(reg_users)

            except Exception as e:
                print(f"Error processing file {p_k}: {e}")
                continue

Top_User_District=pd.DataFrame(Storage_top_user_dist)            
Top_User_Pincode=pd.DataFrame(Storage_top_user_pincode)

In [91]:
import pandas as pd
from sqlalchemy import create_engine

# 1. Establish Connection
db_url = 'postgresql+psycopg2://myfile_b4pj_user:RxzB7LFmv8FVCLhAdmEBBZJeEhHWXhWi@dpg-d5vngiffte5s73ctc9cg-a.singapore-postgres.render.com/myfile_b4pj'
engine = create_engine(db_url)

# 2. Push Aggregated Data
#Agg_Trans.to_sql('aggregated_transaction', engine, if_exists='replace', index=False)
#Agg_User.to_sql('aggregated_user', engine, if_exists='replace', index=False)
#Agg_Ins.to_sql('aggregated_insurance', engine, if_exists='replace', index=False)

# 3. Push Map Data
#Map_Trans.to_sql('map_transaction', engine, if_exists='replace', index=False)
#Map_User.to_sql('map_user', engine, if_exists='replace', index=False)
#Map_Ins.to_sql('map_insurance', engine, if_exists='replace', index=False)

# 4. Push Top Data (Transactions)
#Top_Trans_Dist.to_sql('top_transaction_district', engine, if_exists='replace', index=False)
#Top_Trans_Pin.to_sql('top_transaction_pincode', engine, if_exists='replace', index=False)

# 5. Push Top Data (Users)
#Top_User_District.to_sql('top_user_district', engine, if_exists='replace', index=False)
#Top_User_Pincode.to_sql('top_user_pincode', engine, if_exists='replace', index=False)

# 6. Push Top Data (Insurance)
#Top_Ins_Dist.to_sql('top_insurance_district', engine, if_exists='replace', index=False)
#Top_Ins_Pin.to_sql('top_insurance_pincode', engine, if_exists='replace', index=False)

print("--- Check complete! All 12 tables are now live in your Render database ---")

--- Check complete! All 12 tables are now live in your Render database ---

In [92]:
import pandas as pd
from sqlalchemy import create_engine, text

# 1. Connection
db_url = 'postgresql+psycopg2://myfile_b4pj_user:RxzB7LFmv8FVCLhAdmEBBZJeEhHWXhWi@dpg-d5vngiffte5s73ctc9cg-a.singapore-postgres.render.com/myfile_b4pj'
engine = create_engine(db_url)

with engine.connect() as conn:
    # --- Aggregated Tables ---
    df_agg_trans = pd.read_sql_query(text("SELECT * FROM aggregated_transaction"), conn)
    df_agg_user  = pd.read_sql_query(text("SELECT * FROM aggregated_user"), conn)
    df_agg_ins   = pd.read_sql_query(text("SELECT * FROM aggregated_insurance"), conn)

    # --- Map Tables ---
    df_map_trans = pd.read_sql_query(text("SELECT * FROM map_transaction"), conn)
    df_map_user  = pd.read_sql_query(text("SELECT * FROM map_user"), conn)
    df_map_ins   = pd.read_sql_query(text("SELECT * FROM map_insurance"), conn)

    # --- Top Tables (Transactions) ---
    df_top_trans_dist = pd.read_sql_query(text("SELECT * FROM top_transaction_district"), conn)
    df_top_trans_pin  = pd.read_sql_query(text("SELECT * FROM top_transaction_pincode"), conn)

    # --- Top Tables (Users) ---
    df_top_user_dist = pd.read_sql_query(text("SELECT * FROM top_user_district"), conn)
    df_top_user_pin  = pd.read_sql_query(text("SELECT * FROM top_user_pincode"), conn)

    # --- Top Tables (Insurance) ---
    df_top_ins_dist = pd.read_sql_query(text("SELECT * FROM top_insurance_district"), conn)
    df_top_ins_pin  = pd.read_sql_query(text("SELECT * FROM top_insurance_pincode"), conn)

print("--- Successfully loaded 12 DataFrames into memory! ---")

--- Successfully loaded 12 DataFrames into memory! ---

In [93]:
import pandas as pd
import numpy as np

In [94]:

all_dfs = {
    "Aggregated Trans": df_agg_trans, "Aggregated User": df_agg_user, "Aggregated Ins": df_agg_ins,
    "Map Trans": df_map_trans, "Map User": df_map_user, "Map Ins": df_map_ins,
    "Top Trans Dist": df_top_trans_dist, "Top Trans Pin": df_top_trans_pin,
    "Top User Dist": df_top_user_dist, "Top User Pin": df_top_user_pin,
    "Top Ins Dist": df_top_ins_dist, "Top Ins Pin": df_top_ins_pin
}

print("---  DATA INTEGRITY & STRUCTURE REPORT ---")
for name, df in all_dfs.items():
    print(f"\nTABLE: {name}")
    print(f"  - Rows: {df.shape[0]} | Columns: {df.shape[1]}")
    print(f"  - Missing Values (Nulls): {df.isnull().sum().sum()}")
    print(f"  - Duplicates: {df.duplicated().sum()}")
    print(f"  - Memory Usage: {df.memory_usage().sum() / 1024:.1f} KB")

---  DATA INTEGRITY & STRUCTURE REPORT ---

TABLE: Aggregated Trans
  - Rows: 5034 | Columns: 6
  - Missing Values (Nulls): 0
  - Duplicates: 0
  - Memory Usage: 236.1 KB

TABLE: Aggregated User
  - Rows: 6732 | Columns: 8
  - Missing Values (Nulls): 0
  - Duplicates: 0
  - Memory Usage: 420.9 KB

TABLE: Aggregated Ins
  - Rows: 682 | Columns: 6
  - Missing Values (Nulls): 0
  - Duplicates: 0
  - Memory Usage: 32.1 KB

TABLE: Map Trans
  - Rows: 5180 | Columns: 6
  - Missing Values (Nulls): 0
  - Duplicates: 0
  - Memory Usage: 242.9 KB

TABLE: Map User
  - Rows: 20608 | Columns: 6
  - Missing Values (Nulls): 0
  - Duplicates: 0
  - Memory Usage: 966.1 KB

TABLE: Map Ins
  - Rows: 13876 | Columns: 6
  - Missing Values (Nulls): 0
  - Duplicates: 0
  - Memory Usage: 650.6 KB

TABLE: Top Trans Dist
  - Rows: 8296 | Columns: 6
  - Missing Values (Nulls): 0
  - Duplicates: 0
  - Memory Usage: 389.0 KB

TABLE: Top Trans Pin
  - Rows: 9999 | Columns: 6
  - Missing Values (Nulls): 2
  - Duplicates: 0
  - Memory Usage: 468.8 KB

TABLE: Top User Dist
  - Rows: 8296 | Columns: 5
  - Missing Values (Nulls): 0
  - Duplicates: 0
  - Memory Usage: 324.2 KB

TABLE: Top User Pin
  - Rows: 10000 | Columns: 5
  - Missing Values (Nulls): 0
  - Duplicates: 0
  - Memory Usage: 390.8 KB

TABLE: Top Ins Dist
  - Rows: 5608 | Columns: 6
  - Missing Values (Nulls): 0
  - Duplicates: 0
  - Memory Usage: 263.0 KB

TABLE: Top Ins Pin
  - Rows: 6668 | Columns: 6
  - Missing Values (Nulls): 3
  - Duplicates: 0
  - Memory Usage: 312.7 KB

In [95]:
null_rows = df_top_trans_pin.loc[df_top_trans_pin.isnull().any(axis=1)]
display(null_rows)

       State  Year  Quarter Pincode  Count        Amount
4810  ladakh  2019        4     NaN   2014  1.009866e+07
4852  ladakh  2020        4     NaN  13717  3.671160e+07

In [96]:
null_rows = df_top_ins_pin.loc[df_top_ins_pin.isnull().any(axis=1)]
display(null_rows)

       State  Year  Quarter Pincode  Count   Amount
3199  ladakh  2020        3     NaN      1    281.0
3207  ladakh  2020        4     NaN      1    658.0
3284  ladakh  2022        4     NaN      8  16020.0

In [97]:
df_top_trans_pin['Pincode'] = df_top_trans_pin['Pincode'].fillna('Unknown')
df_top_ins_pin['Pincode'] = df_top_ins_pin['Pincode'].fillna('Unknown')

In [98]:
df_top_trans_pin.isnull().sum()
df_top_ins_pin.isnull().sum()

State      0
Year       0
Quarter    0
Pincode    0
Count      0
Amount     0
dtype: int64

                                        Business Case Study

                     1. Decoding Transaction Dynamics on PhonePe Scenario

In [99]:
from sqlalchemy import inspect

inspector = inspect(engine)
print("Tables found in database:", inspector.get_table_names())

Tables found in database: ['aggregated_transaction', 'aggregated_user', 'aggregated_insurance', 'map_transaction', 'map_user', 'map_insurance', 'top_transaction_district', 'top_transaction_pincode', 'top_user_district', 'top_user_pincode', 'top_insurance_district', 'top_insurance_pincode', 'agg_trans']

In [100]:
import pandas as pd
from sqlalchemy import create_engine, text

# 1. Connection (using your URL)
db_url = 'postgresql+psycopg2://myfile_b4pj_user:RxzB7LFmv8FVCLhAdmEBBZJeEhHWXhWi@dpg-d5vngiffte5s73ctc9cg-a.singapore-postgres.render.com/myfile_b4pj'
engine = create_engine(db_url)

                   1. Decoding Transaction Dynamics on PhonePe Scenario

In [ ]:
 #1. TOp 10 states that led the way in total_transaction value in 2024

query = text("""
    SELECT "State", SUM("Transaction_amount") AS Total_Amount 
    FROM aggregated_transaction
    WHERE "Year" = '2024'
    GROUP BY "State"
    ORDER BY Total_Amount DESC
    LIMIT 10
""")

# 2. Use  'engine' to run it
with engine.connect() as conn:
    df_top_10 = pd.read_sql(query, conn)

# 3. View the result
print(df_top_10)

             State  total_amount
0        karnataka  1.532931e+13
1      maharashtra  1.478439e+13
2        telangana  1.407568e+13
3   andhra-pradesh  1.287331e+13
4    uttar-pradesh  1.111335e+13
5        rajasthan  1.011290e+13
6            bihar  7.403791e+12
7   madhya-pradesh  7.169488e+12
8      west-bengal  6.387113e+12
9           odisha  4.803920e+12
10      tamil-nadu  4.037425e+12

In [102]:
#Q2.  20 states/UTs had the lowest total transaction volume in 2024
query=text(""" 
    select "State", sum("Transaction_amount") as Total_amount from aggregated_transaction  
    where "Year" = '2024'
    group by "State"
    order by Total_amount asc
    limit 21 
 """)
# 2. Use  'engine' to run it
with engine.connect() as conn:
    df_least_20 = pd.read_sql(query, conn)

# 3. View the result
print(df_least_20)

                                 State  total_amount
0                          lakshadweep  7.164300e+08
1                              mizoram  1.581363e+10
2            andaman-&-nicobar-islands  3.073972e+10
3                               ladakh  3.971840e+10
4                              manipur  4.387420e+10
5                               sikkim  4.396317e+10
6                             nagaland  4.729824e+10
7                            meghalaya  6.839180e+10
8                           chandigarh  7.315972e+10
9                           puducherry  7.512889e+10
10                             tripura  7.824837e+10
11  dadra-&-nagar-haveli-&-daman-&-diu  8.535804e+10
12                   arunachal-pradesh  1.224352e+11
13                                 goa  1.952828e+11
14                    himachal-pradesh  2.280869e+11
15                     jammu-&-kashmir  5.284440e+11
16                         uttarakhand  6.992134e+11
17                              kerala  1.001024e+12
18                              punjab  1.012980e+12
19                               assam  1.382837e+12
20                        chhattisgarh  2.033512e+12

In [103]:
#Q3 states experienced a revenue decline or market contraction in 2024
query=text(""" 
 SELECT "State", SUM(CASE WHEN "Year" = '2023' THEN "Transaction_amount" ELSE 0 END) AS Amt_2023,SUM(CASE WHEN "Year" = '2024' THEN "Transaction_amount" ELSE 0 END) AS Amt_2024
 FROM aggregated_transaction
 WHERE "Year" IN ('2023', '2024')
 GROUP BY "State"
 HAVING SUM(CASE WHEN "Year" = '2024' THEN "Transaction_amount" ELSE 0 END) < SUM(CASE WHEN "Year" = '2023' THEN "Transaction_amount" ELSE 0 END);
""")
# 2. Use  'engine' to run it
with engine.connect() as conn:
    df_decline = pd.read_sql(query, conn)

# 3. View the result
print(df_decline)

Empty DataFrame
Columns: [State, amt_2023, amt_2024]
Index: []

In [104]:
# Q4 states achieved positive growth in 2024 compared to 2023 
query=text(""" 
 SELECT "State", SUM(CASE WHEN "Year" = '2023' THEN "Transaction_amount" ELSE 0 END) AS Amt_2023,SUM(CASE WHEN "Year" = '2024' THEN "Transaction_amount" ELSE 0 END) AS Amt_2024
 FROM aggregated_transaction
 WHERE "Year" IN ('2023', '2024')
 GROUP BY "State"
 HAVING SUM(CASE WHEN "Year" = '2024' THEN "Transaction_amount" ELSE 0 END) > SUM(CASE WHEN "Year" = '2023' THEN "Transaction_amount" ELSE 0 END);
""")
# 2. Use  'engine' to run it
with engine.connect() as conn:
    df_comparision = pd.read_sql(query, conn)

# 3. View the result
print(df_comparision)

                                 State      amt_2023      amt_2024
0                             nagaland  3.412667e+10  4.729824e+10
1                               punjab  8.060553e+11  1.012980e+12
2                         chhattisgarh  1.388610e+12  2.033512e+12
3                              gujarat  2.746058e+12  3.821810e+12
4                      jammu-&-kashmir  3.115380e+11  5.284440e+11
5                                  goa  1.551720e+11  1.952828e+11
6                    arunachal-pradesh  8.145647e+10  1.224352e+11
7                               kerala  8.467517e+11  1.001024e+12
8                                delhi  2.780981e+12  3.744696e+12
9                           tamil-nadu  3.197922e+12  4.037425e+12
10                          puducherry  6.307812e+10  7.512889e+10
11                             haryana  2.712655e+12  3.667399e+12
12                         lakshadweep  3.976678e+08  7.164300e+08
13  dadra-&-nagar-haveli-&-daman-&-diu  5.901876e+10  8.535804e+10
14                         maharashtra  1.081848e+13  1.478439e+13
15                               assam  9.771266e+11  1.382837e+12
16                       uttar-pradesh  7.592748e+12  1.111335e+13
17                             manipur  2.345805e+10  4.387420e+10
18                              odisha  3.372391e+12  4.803920e+12
19                         uttarakhand  5.180986e+11  6.992134e+11
20                             tripura  5.927653e+10  7.824837e+10
21                           karnataka  1.147508e+13  1.532931e+13
22           andaman-&-nicobar-islands  2.093302e+10  3.073972e+10
23                          chandigarh  5.894731e+10  7.315972e+10
24                           jharkhand  1.706691e+12  2.493756e+12
25                    himachal-pradesh  1.747508e+11  2.280869e+11
26                      andhra-pradesh  1.021102e+13  1.287331e+13
27                           rajasthan  7.119974e+12  1.011290e+13
28                      madhya-pradesh  4.928792e+12  7.169488e+12
29                         west-bengal  4.227142e+12  6.387113e+12
30                           telangana  1.105735e+13  1.407568e+13
31                             mizoram  1.279440e+10  1.581363e+10
32                              ladakh  2.623368e+10  3.971840e+10
33                               bihar  4.848213e+12  7.403791e+12
34                           meghalaya  4.644904e+10  6.839180e+10
35                              sikkim  3.204076e+10  4.396317e+10

In [105]:
# Q5 breakdown of transaction types in Assam and Meghalaya	
query=(""" 
 SELECT "Transaction_type", sum("Transaction_amount") as Total_value
 FROM aggregated_transaction
 WHERE "State" in ('assam','meghalaya')
 GROUP BY "Transaction_type"
 ORDER BY Total_value Desc; 
""")
# 2. Use  'engine' to run it
with engine.connect() as conn:
    df_transaction_types = pd.read_sql(query, conn)

# 3. View the result
print(df_transaction_types)

           Transaction_type   total_value
0     Peer-to-peer payments  2.822292e+12
1         Merchant payments  6.857710e+11
2  Recharge & bill payments  1.118492e+11
3        Financial Services  1.767093e+09
4                    Others  1.656199e+09

In [106]:
# PhonePe's transaction volume grown across India each year
query=(""" 
 SELECT "Year", SUM("Transaction_count") AS Yearly_Count
 FROM aggregated_transaction
 GROUP BY "Year"
 ORDER BY "Year" ASC;
""")
# 2. Use  'engine' to run it
with engine.connect() as conn:
    df_transaction_count = pd.read_sql(query, conn)

# 3. View the result
print(df_transaction_count)

   Year  yearly_count
0  2018  1.080202e+09
1  2019  4.079827e+09
2  2020  7.973975e+09
3  2021  1.928843e+10
4  2022  3.930129e+10
5  2023  6.425705e+10
6  2024  9.930343e+10

2.      Device Dominance and User Engagement Analysis Scenario

In [107]:
#1.Which mobile brands are the most popular among PhonePe users across India?

query=("""
 SELECT "Brand", sum("Registered_Users") as Total_Users
 FROM aggregated_user
 GROUP BY "Brand"
 ORDER BY Total_Users DESC
 LIMIT 10;
""")

# 2. Use  'engine' to run it
with engine.connect() as conn:
    df_Brand = pd.read_sql(query, conn)

# 3. View the result
print(df_Brand)

      Brand   total_users
0   Samsung  3.460325e+09
1    Realme  3.460325e+09
2      Vivo  3.460325e+09
3    Others  3.460325e+09
4    Xiaomi  3.460325e+09
5      Oppo  3.460325e+09
6  Motorola  3.339301e+09
7    Huawei  3.235551e+09
8     Apple  3.091083e+09
9   OnePlus  2.693291e+09

In [ ]:
#Q2 How many total registration records exist where zero app activity (App Opens = 0) was recorded?"

query=("""SELECT sum("Registered_Users")
FROM aggregated_user
WHERE "App_Opens"=0;
""")

# 2. Use  'engine' to run it
with engine.connect() as conn:
    df_zero_activity = pd.read_sql(query, conn)

# 3. View the result
print(df_zero_activity)

            sum
0  4.578531e+09

In [109]:
#3. inactive users state wise
query = ("""
    SELECT "State", SUM("Registered_Users") AS Inactive_Users
    FROM aggregated_User
    WHERE "App_Opens" = 0
    GROUP BY "State"
    ORDER BY Inactive_Users DESC;
""")

with engine.connect() as conn:
    df_inactive_states = pd.read_sql(query, conn)

print(df_inactive_states)

                                 State  inactive_users
0                          maharashtra     598734961.0
1                        uttar-pradesh     462373032.0
2                            karnataka     370733583.0
3                       andhra-pradesh     311377385.0
4                            telangana     299280080.0
5                            rajasthan     292793171.0
6                          west-bengal     275209297.0
7                              gujarat     252126952.0
8                       madhya-pradesh     242928609.0
9                           tamil-nadu     225468628.0
10                               bihar     213905923.0
11                               delhi     203254150.0
12                             haryana     172115042.0
13                              odisha     159721859.0
14                           jharkhand      86262011.0
15                              punjab      83212635.0
16                              kerala      78015509.0
17                        chhattisgarh      69702886.0
18                         uttarakhand      45978405.0
19                               assam      44433301.0
20                    himachal-pradesh      23428394.0
21                     jammu-&-kashmir      19225745.0
22                                 goa       8815554.0
23                          chandigarh       8055322.0
24                             tripura       6511109.0
25  dadra-&-nagar-haveli-&-daman-&-diu       5212526.0
26                          puducherry       4828967.0
27                             manipur       3520341.0
28                   arunachal-pradesh       2630199.0
29                           meghalaya       2128863.0
30                              sikkim       2126069.0
31                            nagaland       1831588.0
32                              ladakh       1022813.0
33                             mizoram        831072.0
34           andaman-&-nicobar-islands        683232.0
35                         lakshadweep         51447.0

In [110]:
#4. Active users
query = text("""
    SELECT "State",SUM("App_Opens") AS Total_opens, SUM("Registered_Users") AS Total_users,
    ROUND((SUM("App_Opens")::numeric / NULLIF(SUM("Registered_Users"), 0)), 2) AS Engagement_Ratio
    FROM aggregated_user
    GROUP BY "State"
    ORDER BY Engagement_Ratio DESC
    LIMIT 10;
""")

with engine.connect() as conn:
    df_engagement = pd.read_sql(query, conn)

print(df_engagement)

               State   total_opens   total_users  engagement_ratio
0          rajasthan  1.000934e+11  2.372101e+09             42.20
1     andhra-pradesh  1.024454e+11  2.479563e+09             41.32
2          telangana  9.263988e+10  2.330985e+09             39.74
3  arunachal-pradesh  1.172571e+09  3.086127e+07             37.99
4          karnataka  1.215057e+11  3.205101e+09             37.91
5     madhya-pradesh  7.152417e+10  1.987287e+09             35.99
6            mizoram  3.530931e+08  1.022955e+07             34.52
7             ladakh  3.179896e+08  9.246424e+06             34.39
8       chhattisgarh  1.928916e+10  5.955061e+08             32.39
9             odisha  3.853636e+10  1.260387e+09             30.58

In [111]:
#5 In which quarter do users engage with the app the most?
query = text("""
    SELECT "Quarter", sum("App_Opens") Total_oppens
    FROM aggregated_user
    GROUP BY "Quarter"
    ORDER BY Total_oppens desc;
""")

with engine.connect() as conn:
    df_quarter = pd.read_sql(query, conn)

print(df_quarter)

   Quarter  total_oppens
0        1  3.204137e+11
1        4  2.962861e+11
2        3  2.358837e+11
3        2  1.639947e+11

3.          Insurance Engagement Analysis Scenario

In [ ]:
#1 Which specific districts across India are leading in insurance adoption?
import pandas as pd
from sqlalchemy import text
query = text("""
    SELECT "State", "District", 
           SUM("Insurance_Count") AS Total_policies
    FROM map_insurance
    GROUP BY "State", "District"
    ORDER BY Total_policies DESC
    LIMIT 10;
""")

with engine.connect() as conn:
    df_top_districts = pd.read_sql(query, conn)

print(df_top_districts)

         State                     District  total_policies
0    karnataka     bengaluru urban district       1117691.0
1  maharashtra                pune district        396173.0
2  maharashtra               thane district        260578.0
3   tamil-nadu             chennai district        251081.0
4  maharashtra     mumbai suburban district        211311.0
5    telangana          rangareddy district        206714.0
6    telangana  medchal malkajgiri district        178028.0
7    rajasthan              jaipur district        177296.0
8    telangana           hyderabad district        169470.0
9      haryana            gurugram district        168368.0

In [113]:
# 2 Is there a specific time of year when people are more likely to buy insurance? Do we see a spike in a particular quarter?
query = text("""
    SELECT "Quarter", sum("Insurance_Amount")as Total_value
    FROM map_insurance
    GROUP BY "Quarter"
    ORDER BY Total_value desc;
""")

with engine.connect() as conn:
    df_relation = pd.read_sql(query, conn)

print(df_relation)

   Quarter   total_value
0        4  6.415368e+09
1        3  4.873032e+09
2        1  4.434409e+09
3        2  4.292770e+09

In [ ]:
# 3.Which specific districts are the 'Growth Engines' for insurance, contributing the highest share to their state's total insurance revenue?
query = text("""
    SELECT "State", "District", 
           SUM("Insurance_Count") AS total_policies, 
           SUM("Insurance_Amount") AS total_value
    FROM map_insurance
    WHERE "Year" = '2024'
    GROUP BY "State", "District"
    ORDER BY total_value DESC
    LIMIT 10;
""")

with engine.connect() as conn:
    df_district_rank = pd.read_sql(query, conn)

print(df_district_rank)

         State                     District  total_policies  total_value
0    karnataka     bengaluru urban district        357490.0  584075839.0
1  maharashtra                pune district        119733.0  205427182.0
2   tamil-nadu             chennai district        108880.0  130200666.0
3    telangana          rangareddy district         65526.0  117375694.0
4    rajasthan              jaipur district         64388.0  106998743.0
5  maharashtra               thane district         74554.0  103927859.0
6    telangana  medchal malkajgiri district         54919.0   93228535.0
7       kerala           ernakulam district         54064.0   87934298.0
8      haryana            gurugram district         59398.0   87357806.0
9  maharashtra     mumbai suburban district         65227.0   86023257.0

In [ ]:
# 4 Is the demand for insurance increasing over time? 
    
query = text("""
    SELECT "Year", SUM("Insurance_Count") AS total_policies
    FROM map_insurance
    GROUP BY "Year"
    ORDER BY "Year" ASC;
""")

with engine.connect() as conn:
    df_yearly_demand = pd.read_sql(query, conn)

print(df_yearly_demand)

   Year  total_policies
0  2020        788258.0
1  2021       1583282.0
2  2022       3090116.0
3  2023       3986187.0
4  2024       5067844.0

4. User Engagement and Growth Strategy Scenario

In [117]:
#1.Which 10 districts in India have the largest base of registered PhonePe users?
query=(""" 
 SELECT "State", "District", SUM("Registered_Users") AS total_users
 FROM map_user
 GROUP BY "State", "District"  
 ORDER BY total_users DESC
 LIMIT 10;
""")

with engine.connect () as conn:
    df_top_user_districts=pd.read_sql(query,conn)
print(df_top_user_districts)

         State                             District  total_users
0    karnataka             bengaluru urban district  303663088.0
1  maharashtra                        pune district  199346186.0
2  maharashtra                       thane district  122501643.0
3    rajasthan                      jaipur district  119739290.0
4  maharashtra             mumbai suburban district  119012886.0
5    telangana                   hyderabad district  101824322.0
6    telangana                  rangareddy district   90261099.0
7      gujarat                   ahmadabad district   81767310.0
8      gujarat                       surat district   77469508.0
9  west-bengal  north twenty four parganas district   77396295.0

In [118]:
# 2.Which districts show a high number of registrations but a low number of app opens?

query=(""" 
 SELECT "State", "District", SUM("Registered_Users") AS total_registration,sum("App_Opens") as total_apps_opened,
 SUM("Registered_Users")-sum("App_Opens") as dormant_users
 FROM map_user
 GROUP BY "State", "District"  
 ORDER BY dormant_users desc
 LIMIT 10;
""")

with engine.connect () as conn:
    df_dormant_user_districts=pd.read_sql(query,conn)
print(df_dormant_user_districts)

      State            District  total_registration  total_apps_opened  \
0  nagaland    niuland district                85.0              178.0
1   mizoram   khawzawl district              5604.0           548527.0
2   mizoram  hnahthial district              5729.0           567449.0
3  nagaland   tseminyu district              3556.0           784745.0
4   mizoram    saitual district              9503.0           792073.0
5    sikkim     soreng district             34044.0          1805156.0
6  nagaland   shamator district              4068.0          1929911.0
7    sikkim  gyalshing district             48188.0          2670246.0
8    sikkim     mangan district             48528.0          3441899.0
9     assam     bajali district             91432.0          3661953.0

   dormant_users
0          -93.0
1      -542923.0
2      -561720.0
3      -781189.0
4      -782570.0
5     -1771112.0
6     -1925843.0
7     -2622058.0
8     -3393371.0
9     -3570521.0

In [119]:
# 3 In which districts are users most active, as measured by the total number of times the app is opened?

query=(""" 
 SELECT "State", "District", SUM("Registered_Users") AS total_registration,sum("App_Opens") as total_apps_opened,
 SUM("Registered_Users")+sum("App_Opens") as active_users
 FROM map_user
 GROUP BY "State", "District"  
 ORDER BY active_users desc
 LIMIT 10;
""")

with engine.connect () as conn:
    df_active_user_districts=pd.read_sql(query,conn)
print(df_active_user_districts)

         State                  District  total_registration  \
0    karnataka  bengaluru urban district         303663088.0
1  maharashtra             pune district         199346186.0
2    rajasthan       ganganagar district          11571144.0
3    rajasthan           barmer district          14138947.0
4  maharashtra           nashik district          62791515.0
5    rajasthan           jaipur district         119739290.0
6    rajasthan      hanumangarh district           9814608.0
7    rajasthan          bikaner district          17292087.0
8    telangana       rangareddy district          90261099.0
9    rajasthan          jodhpur district          30332539.0

   total_apps_opened  active_users
0       8.626629e+09  8.930292e+09
1       6.244893e+09  6.444239e+09
2       4.524202e+09  4.535773e+09
3       3.492608e+09  3.506747e+09
4       3.388420e+09  3.451212e+09
5       3.207851e+09  3.327591e+09
6       3.202109e+09  3.211924e+09
7       3.132601e+09  3.149893e+09
8       3.037773e+09  3.128034e+09
9       2.981714e+09  3.012046e+09

In [122]:
#4. Within a specific state (e.g., Karnataka), how is the user base distributed across its different districts? Is the growth concentrated in one city or spread out?

query=(""" 
 SELECT "State", "District", sum("Registered_Users") as user_base
 FROM map_user
 WHERE "State"='karnataka'
 group by "State","District"
 order by user_base desc;
""")

with engine.connect () as conn:
    df_user_karnataka=pd.read_sql(query,conn)
print(df_user_karnataka)

        State                   District    user_base
0   karnataka   bengaluru urban district  303663088.0
1   karnataka          belagavi district   34297782.0
2   karnataka            mysuru district   33079121.0
3   karnataka          tumakuru district   22333538.0
4   karnataka  dakshina kannada district   22066932.0
5   karnataka           dharwad district   21619100.0
6   karnataka           ballari district   20692586.0
7   karnataka   bengaluru rural district   19715861.0
8   karnataka        kalaburagi district   18478130.0
9   karnataka        vijayapura district   16705060.0
10  karnataka             kolar district   16182907.0
11  karnataka        davanagere district   15280127.0
12  karnataka        shivamogga district   14888899.0
13  karnataka            hassan district   14847259.0
14  karnataka            mandya district   13869909.0
15  karnataka         bagalkote district   13731582.0
16  karnataka           raichur district   13143731.0
17  karnataka             bidar district   12604808.0
18  karnataka        ramanagara district   11830181.0
19  karnataka             udupi district   11341274.0
20  karnataka       chitradurga district   11055994.0
21  karnataka    uttara kannada district   10405123.0
22  karnataka   chikkaballapura district    9907278.0
23  karnataka            haveri district    9054312.0
24  karnataka            koppal district    8912238.0
25  karnataka    chikkamagaluru district    8769933.0
26  karnataka             gadag district    6878137.0
27  karnataka            yadgir district    5076365.0
28  karnataka   chamarajanagara district    4603978.0
29  karnataka            kodagu district    4552446.0
30  karnataka    chikkaballapur district    1379216.0
31  karnataka      vijayanagara district    1181244.0
32  karnataka           yadgiri district     808893.0
33  karnataka    chamarajanagar district     717204.0

5.              User Registration Analysis Scenario

In [128]:
#1.Which 10 Pincodes across India recorded the highest number of new user registrations in the last quarter of 2024?
query = text("""
    SELECT "State",  "Pincode", sum("Registered_User") as total_new_registrations
    FROM top_user_pincode
    WHERE "Year" = '2024' AND "Quarter" = 4
    GROUP BY "State", "Pincode"
    ORDER BY total_new_registrations DESC
    LIMIT 10;
""")

with engine.connect() as conn:
    df_top_pincodes = pd.read_sql(query, conn)

print(df_top_pincodes)

            State Pincode  total_new_registrations
0   uttar-pradesh  201301                 964283.0
1     maharashtra  421302                 871910.0
2           delhi  110059                 826819.0
3       telangana  500072                 755978.0
4  madhya-pradesh  452001                 709324.0
5     maharashtra  410501                 683451.0
6       karnataka  560068                 663903.0
7         haryana  121004                 663180.0
8   uttar-pradesh  201009                 660474.0
9           delhi  110092                 654020.0

In [ ]:
#2 Which specific year-quarter combination saw the highest peak in registrations across the top-performing districts?
query = text("""
    SELECT   "Year","Quarter" ,sum("Registered_User") AS Total_Registrations
    FROM top_user_district
    GROUP BY "Quarter", "Year"
    ORDER BY  Total_Registrations desc
    LIMIT 1 ;
""")

with engine.connect() as conn:
    df_top_peak = pd.read_sql(query, conn)

print(df_top_peak)

   Year  Quarter  total_registrations
0  2024        2          363063642.0

In [ ]:
#3.Which districts showed a decrease in user registrations in Q4 2024 compared to Q1 2024?
query = text("""
    SELECT "State", "District_name", 
    SUM(CASE WHEN "Quarter" = 1 THEN "Registered_User" ELSE 0 END) AS Q1_Users,
    SUM(CASE WHEN "Quarter" = 4 THEN "Registered_User" ELSE 0 END) AS Q4_Users
    FROM top_user_district
    WHERE "Year" = '2024'
    GROUP BY "State", "District_name"
    HAVING SUM(CASE WHEN "Quarter" = 4 THEN "Registered_User" ELSE 0 END) < 
    SUM(CASE WHEN "Quarter" = 1 THEN "Registered_User" ELSE 0 END)
    ORDER BY Q4_Users ASC;
""")

with engine.connect() as conn:
    df_top_decrease = pd.read_sql(query, conn)

print(df_top_decrease)

             State        District_name   q1_users   q4_users
0          manipur           tamenglong    15465.0        0.0
1      maharashtra           aurangabad  2679421.0        0.0
2    uttar-pradesh  gautam buddha nagar  3965080.0        0.0
3       tamil-nadu         kancheepuram  1636613.0        0.0
4          manipur              chandel    12511.0        0.0
..             ...                  ...        ...        ...
96           delhi                 west  2837958.0  2781222.0
97       rajasthan               jaipur  7253881.0  5371681.0
98       telangana            hyderabad  5928930.0  5916910.0
99     maharashtra      mumbai suburban  7055629.0  6875379.0
100    maharashtra                thane  7314981.0  7300941.0

[101 rows x 4 columns]

In [ ]:
#4.Identify the 10 Pincodes that contribute the least to the user base in high-performing states like Maharashtra or Tamilnamdu.
query = text("""
    SELECT "State", "Pincode", 
           SUM("Registered_User") AS user_base
    FROM top_user_pincode
    WHERE "State" = 'tamil-nadu' OR "State" = 'maharashtra'
    GROUP BY "State", "Pincode"
    ORDER BY user_base ASC
    LIMIT 10;
""")

with engine.connect() as conn:
    df_low_pincodes = pd.read_sql(query, conn)

print(df_low_pincodes)

         State Pincode  user_base
0   tamil-nadu  600097    13934.0
1   tamil-nadu  600119   131500.0
2  maharashtra  400072   261515.0
3   tamil-nadu  641654   296818.0
4   tamil-nadu  641603   303843.0
5   tamil-nadu  600014   320013.0
6   tamil-nadu  641605   322254.0
7   tamil-nadu  600044   325002.0
8   tamil-nadu  641687   428456.0
9  maharashtra  401209   748197.0